/* TODO: make font-size responsive  */

.area-zh,
.city-zh,
th {
  font-family: "Noto Sans TC", sans-serif;
}

th {
  font-size: 1rem;
}

td {
  font-family: "Noto Serif TC", serif;
  font-size: 1rem;
}

.title {
  font-family: "Noto Sans TC", serif;
}
