.info-container {
  max-width: 1200px;
  margin: 0 auto;
  border: solid 2px #a7a5a5;
  border-radius: 10px;
  box-shadow: 10px 7px 10px -8px rgba(0, 0, 0, 0.7);
  background-color: #f3f8f6;
}

/* TODO: 改字型 DONE */

.greeting-container,
.choose-language,
.explanation,
.disclaimer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.choose-language {
  gap: 2rem;
}
.greeting-container,
.disclaimer-container,
.explanation {
  flex-direction: column;
  margin: 2rem 2rem 0 2rem;
}

.disclaimer-en,
.disclaimer-zh {
  margin: 5px;
  color: rgb(2, 72, 72);
}

.greeting-zh {
  font-family: "Noto Sans TC", serif;
  font-size: 2.5rem;
}

.greeting-en {
  font-family: "Noto Serif", serif;
  font-size: 2.5rem;
}

.ex-en {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
}

.ex-zh {
  font-family: "Noto Serif TC", serif;
  font-size: 1.5rem;
}

.language-1,
.language-2 {
  padding: 10px;
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin: 2rem;
}
.vet-clinic-list {
  display: flex;
}
.info {
  font-size: 1.5rem;
}

.back {
  text-decoration: none;
  font-size: 2rem;
  color: #000;
}

table,
th,
td {
  border: 1px solid navy;
  border-collapse: collapse;
}

th {
  background-color: hsl(208, 100%, 97%);
}

table,
.area,
.area-zh {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
}

table {
  margin-bottom: 1rem;
  background-color: white;
}

th,
td {
  padding: 10px;
}

.city,
.city-zh {
  text-decoration: underline;
  margin-top: 4rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.area,
.city,
th {
  font-family: "Noto Serif", serif;
}

td {
  font-family: "Roboto Slab", serif;
}

.title {
  font-size: 2rem;
  font-family: "Noto Serif", serif;
}

#map {
  width: 100%;
  height: 800px;
  background-color: grey;
}

footer {
  text-align: center;
  margin-top: 3rem;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size: 0.8rem;
}

p {
  font-family: "Roboto Slab", serif;
  margin: 0;
}

#toc_container {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  margin-bottom: 1em;
  padding: 20px;
  width: auto;
  margin-left: 2rem;
}

.toc_title {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}

.toc_item {
  font-size: 1.2rem;
  color: navy;
  padding: 10px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: teal;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

#submit-btn {
  background-color: teal;
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  border: none;
}

#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: solid 1px navy;
  padding: 15px;
  border-radius: 5px;
  /* background-color: var(--mainColor); */
  margin-bottom: 50px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: var(--secondaryColor); */
  border-radius: 5px;
  border: solid 1px navy;
  font-size: 14px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

button {
  margin-top: 0.5rem;
  border: #aaa 1px solid;
  border-radius: 1.5rem;
}

a {
  text-decoration: none;
  color: navy;
}

a:hover {
  text-decoration: none;
  color: blue;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 62.5%;
  }
  .info-container {
    /* min-width: fit-content; */
    margin: auto;
    border: solid 1px navy;
    border-radius: 10px;
    box-shadow: 10px 7px 10px -8px rgba(0, 0, 0, 0.7);
    background-color: #f0f8ff;
  }

  th {
    display: none;
  }
  tr {
    border-bottom: solid 1px navy;
  }
  td {
    display: grid;
    grid-template-columns: 80px 1fr;
    border: none;
    grid-gap: 20px;
  }

  tr:nth-of-type(2n) {
    background-color: hsl(156, 26%, 96%) !important;
  }

  td:nth-of-type(1)::before {
    content: "Clinic";
    text-transform: uppercase;
  }

  td:nth-of-type(2)::before {
    content: "Address";
    text-transform: uppercase;
  }

  td:nth-of-type(3)::before {
    content: "Website";
    text-transform: uppercase;
  }

  td:nth-of-type(4)::before {
    content: "Note";
    text-transform: uppercase;
  }

  td:nth-of-type(5)::before {
    content: "Phone Num";
    text-transform: uppercase;
  }

  #myBtn {
    right: 75px;
  }
}

@media (max-width: 400px) {
  td {
    grid-template-columns: 80px 1fr;
    grid-gap: 10px;
  }
}
