{% extends "layout.html" %} {% block style %}
<style>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
</style>
{% endblock style %} {% block content %}
<!--toDo: style the contact form-->
<div class="main-container">
  <h3 style="text-align: center" class="title">Get In Touch</h3>
  <div class="nav-item back"><a href="/" class="back"><</a></div>
  <form
    id="contact-form"
    action="https://formsubmit.co/huiruhu96@gmail.com"
    method="POST"
  >
    <label>Name</label>
    <input class="input-field" type="text" name="name" required />

    <label>Subject</label>
    <input class="input-field" type="text" name="subject" required />

    <label>Email</label>
    <input class="input-field" type="text" name="Email" required />

    <label>Message</label>
    <textarea
      class="input-field"
      type="message"
      name="message"
      required
    ></textarea>

    <input id="submit-btn" type="submit" value="Send" />
  </form>
</div>
{% endblock content %}
