{% extends "layout.html" %} {% block title %}獸醫院詳細資訊{% endblock title %}
{% block style %}

<link href="/static/details-zh.css" rel="stylesheet" />

{% endblock style %} {% block content %}

<style>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap");
</style>

<div class="vet-clinic-list">
  <div class="nav-item back"><a href="/route-zh" class="back"><</a></div>
  <h3 class="nav-item title">
    全台提供24小時急診服務的獸醫院（2023年5月更新）
  </h3>
</div>

<!--Reference: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp-->
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div id="toc_container">
  <p class="toc_title">內容摘要</p>
  <ol class="toc_list">
    <li><a href="#Taipei" class="toc_item">台北市獸醫院</a></li>
    <li><a href="#NewTaipei" class="toc_item">新北市獸醫院</a></li>
    <li><a href="#Taoyuan" class="toc_item">桃園市獸醫院</a></li>
    <li><a href="#Hsinchu" class="toc_item">新竹市獸醫院</a></li>
    <li><a href="#Hsinchu＿county" class="toc_item">新竹縣獸醫院</a></li>
    <li><a href="#Taichung" class="toc_item">台中市獸醫院</a></li>
    <li><a href="#Changhua" class="toc_item">彰化縣獸醫院</a></li>
    <li><a href="#Yunlin" class="toc_item">雲林縣獸醫院</a></li>
    <li><a href="#Tainan" class="toc_item">台南市獸醫院</a></li>
    <li><a href="#Kaohsiung" class="toc_item">高雄市獸醫院</a></li>
    <li><a href="#Pingtung" class="toc_item">屏東縣獸醫院</a></li>
    <li><a href="#Hualien" class="toc_item">花蓮縣獸醫院</a></li>
  </ol>
</div>

<h3 class="city-zh" id="Taipei">台北市</h3>

<h4 class="area-zh">中山區</h4>

<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>伊甸動物醫院</td>
    <td>台北市中山區北安路554巷33號1樓</td>
    <td>
      <a href="https://eden-vet.com" target="_blank">https://eden-vet.com</a>
    </td>
    <td>9PM後，須先以電話聯絡</td>
    <td><a href="tel:0285092579">02-8509-2579</a></td>
  </tr>

  <tr>
    <td>太僕動物醫院（龍江院）</td>
    <td>台北市中山區龍江路260號</td>
    <td>
      <a href="http://topvet.topet.net/info-act.html" target="_blank"
        >https://www.topvet.topet.net</a
      >
    </td>
    <td>9PM後，須先以電話聯絡</td>
    <td>
      <a href="tel:0928242358">09-28242358</a> or
      <a href="tel:0225170902">02-2517-0902</a>
    </td>
  </tr>
</table>

<h4 class="area-zh">大安區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>杜克動物醫院</td>
    <td>台北市大安區和平東路三段117號</td>
    <td>
      <a href="https://www.facebook.com/dukevetclinic" target="_blank"
        >https://www.facebook.com/dukevetclinic</a
      >
    </td>
    <td>12AM後，須先以電話聯絡</td>
    <td><a href="tel:0287324789">02-8732-4789</a></td>
  </tr>

  <tr>
    <td>王樣動物醫院</td>
    <td>台北市大安區金華街217號</td>
    <td>
      <a
        href="https://www.facebook.com/profile.php?id=100044480677446"
        target="_blank"
        >https://www.facebook.com/profile.php?id=100044480677446</a
      >
    </td>
    <td>須先以電話聯絡</td>
    <td><a href="tel:0223570217">02-2357-0217</a></td>
  </tr>
</table>

<h4 class="area-zh">大同區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>慈愛動物醫院（台北總院）</td>
    <td>台北市大同區寧夏路1號</td>
    <td>
      <a href="https://www.lkah.com.tw/" target="_blank"
        >https://www.lkah.com.tw/</a
      >
    </td>
    <td></td>
    <td><a href="tel:0225563320">02-2556-3320</a></td>
  </tr>

  <tr>
    <td>全民動物醫院</td>
    <td>台北市大同區民生西路249號</td>
    <td>
      <a href="https://www.formosavetcenter.com" target="_blank"
        >https://www.formosavetcenter.com</a
      >
    </td>
    <td></td>
    <td>
      <a href="tel:0225530371">02-2553-0371</a> or
      <a href="tel:0225530303">02-2553-0303</a>
    </td>
  </tr>
</table>

<h4 class="area-zh">萬華區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>展望動物醫院</td>
    <td>台北市萬華區中華路二段二號</td>
    <td>
      <a href="http://www.prospect-vet.com/info.html" target="_blank"
        >https://www.prospect-vet.com</a
      >
    </td>
    <td></td>
    <td><a href="tel:0223880122">02-2388-0122</a></td>
  </tr>
</table>

<h4 class="area-zh">內湖區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>全國動物醫院（台北分院）</td>
    <td>台北市內湖區舊宗路一段30巷13號</td>
    <td>
      <a href="https://www.vet.com.tw" target="_blank"
        >https://www.vet.com.tw</a
      >
    </td>
    <td></td>
    <td><a href="tel:0287918706">02-8791-8706</a></td>
  </tr>
</table>

<h4 class="area-zh">松山區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>太僕動物醫院（南京院）</td>
    <td>台北市松山區南京東路五段286號</td>
    <td>
      <a href="http://topvet.topet.net/" target="_blank"
        >http://topvet.topet.net/</a
      >
    </td>
    <td>9PM後，須先以電話聯絡</td>
    <td><a href="tel:0227562005">02-2756-2005</a></td>
  </tr>

  <tr>
    <td>興泰動物醫院</td>
    <td>台北市松山區延吉街57號</td>
    <td>
      <a href="http://www.stah.com.tw" target="_blank"
        >http://www.stah.com.tw</a
      >
    </td>
    <td></td>
    <td><a href="tel:0225795722">02-2579-5722</a></td>
  </tr>
</table>

<h4 class="area-zh">文山區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>大群動物醫院</td>
    <td>台北市文山區羅斯福路六段206號</td>
    <td>
      <a href="https://dacyun-vet.tw" target="_blank">https://dacyun-vet.tw</a>
    </td>
    <td></td>
    <td><a href="tel:0229305557">02-2930-5557</a></td>
  </tr>
</table>

<h4 class="area-zh">士林區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>布達羊急診動物醫院</td>
    <td>台北市士林區忠誠路一段102號</td>
    <td>
      <a href="http://www.boulderyard24.com" target="_blank"
        >http://www.boulderyard24.com</a
      >
    </td>
    <td>
      <strong>為犬、貓、鼠、兔服務</strong>
    </td>
    <td><a href="tel:0228341119">02-2834-1119</a></td>
  </tr>

  <tr>
    <td>阿牛犬貓急診醫院</td>
    <td>台北市士林區基河路238號1樓</td>
    <td>
      <a href="https://anewanimalhospital.webnode.tw" target="_blank"
        >https://anewanimalhospital.webnode.tw</a
      >
    </td>
    <td>10PM後，週日5PM後，須先以電話聯絡</td>
    <td><a href="tel:0228810478">02-2881-0478</a></td>
  </tr>
</table>

<h4 class="area-zh">中正區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>大安動物醫院</td>
    <td>台北市中正區羅斯福路四段162號1樓</td>
    <td>
      <a href="https://daan-vet.com" target="_blank">https://daan-vet.com</a>
    </td>
    <td></td>
    <td><a href="tel:0223632020">02-2363-2020</a></td>
  </tr>
</table>

<h3 class="city-zh" id="NewTaipei">新北市</h3>

<h4 class="area-zh">林口區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>上弦動物醫院</td>
    <td>新北市林口區忠福路129號</td>
    <td>
      <a href="https://www.sensationah.com/" target="_blank"
        >https://www.sensationah.com/</a
      >
    </td>
    <td></td>
    <td>
      <a href="tel:0289511172">02-2609-0119</a>
    </td>
  </tr>
</table>

<h4 class="area-zh">板橋區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>牧村動物醫院</td>
    <td>新北市板橋區中山路二段28號</td>
    <td>
      <a href="https://www.facebook.com/mtpet/" target="_blank"
        >https://www.facebook.com/mtpet/</a
      >
    </td>
    <td>8PM後，須先以電話聯絡 & 週日休息</td>
    <td>
      <a href="tel:0289511172">02-8951-1172</a>
    </td>
  </tr>
</table>

<h4 class="area-zh">中和區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>中日動物醫院</td>
    <td>新北市中和區中山路三段2號</td>
    <td>
      <a href="http://www.unitevet.com" target="_blank"
        >http://www.unitevet.com</a
      >
    </td>
    <td></td>
    <td><a href="tel:0222263639">02-2226-3639</a></td>
  </tr>

  <tr>
    <td>亞東動物醫院</td>
    <td>新北市中和區中正路639號2樓</td>
    <td>
      <a href="https://vet639.url.tw/" target="_blank"
        >https://vet639.url.tw/</a
      >
    </td>
    <td>
      須先以電話聯絡
      <strong>服務對象：犬、貓、鼠、兔、鳥、龜</strong>
    </td>
    <td><a href="tel:0952605051">0952-605-051</a></td>
  </tr>
</table>

<h4 class="area-zh">永和區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>樂活動物醫院</td>
    <td>新北市永和區中興街107號</td>
    <td>
      <a
        href="https://www.facebook.com/people/樂活動物醫院/100064025791340/"
        target="_blank"
        >https://www.facebook.com/people/樂活動物醫院/100064025791340/</a
      >
    </td>
    <td>9PM-2AM，須先以電話聯絡 週日休</td>
    <td><a href="tel:0229225805">02-2922-5805</a></td>
  </tr>
</table>

<h3 class="city-zh" id="Taoyuan">桃園市</h3>

<h4 class="area-zh">桃園區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>品湛動物醫院</td>
    <td>桃園市桃園區民生路495-9號</td>
    <td>
      <a href="https://www.ghanimalcasa.com" target="_blank"
        >https://www.ghanimalcasa.com</a
      >
    </td>
    <td>2AM後，須先以電話聯絡</td>
    <td><a href="tel:033363252">03-336-3252</a></td>
  </tr>

  <tr>
    <td>元氣動物醫院（三民總院）</td>
    <td>桃園市桃園區三民路三段381號</td>
    <td>
      <a href="http://www.genkivet.com.tw" target="_blank"
        >http://www.genkivet.com.tw</a
      >
    </td>
    <td></td>
    <td><a href="tel:033333816"> 03-333-3816</a></td>
  </tr>

  <tr>
    <td>元氣動物醫院（藝文分院）</td>
    <td>桃園市桃園區莊敬路一段156號</td>
    <td>
      <a href="http://www.genkivet.com.tw" target="_blank"
        >http://www.genkivet.com.tw</a
      >
    </td>
    <td>服務對象：犬、貓、鼠、兔</td>
    <td><a href="tel:033553911"> 03-355-3911</a></td>
  </tr>
</table>

<h4 class="area-zh">中壢區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>磨鼻子動物醫院</td>
    <td>桃園市中壢區延平路20號</td>
    <td>
      <a href="https://zh-tw.facebook.com/BisousAH" target="_blank"
        >https://zh-tw.facebook.com/BisousAH</a
      >
    </td>
    <td></td>
    <td><a href="tel:034535740">03-453-5740</a></td>
  </tr>
</table>

<h3 class="city-zh" id="Hsinchu">新竹市</h3>

<h4 class="area-zh">東區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>築心動物醫院</td>
    <td>新竹市東區經國路一段654號</td>
    <td>
      <a href="http://www.zhuxin.com.tw/" target="_blank"
        >http://www.zhuxin.com.tw/</a
      >
    </td>
    <td>9PM～2AM 提供急診服務</td>
    <td><a href="tel:035338055">03-533-8055</a></td>
  </tr>

  <tr>
    <td>全天候動物醫院</td>
    <td>新竹市東區關新路225號1樓</td>
    <td>
      <a href="https://www.facebook.com/allweathervet" target="_blank"
        >https://www.facebook.com/allweathervet</a
      >
    </td>
    <td><strong>服務對象：犬貓、鼠兔</strong></td>
    <td><a href="tel:036686356">03-668-6356</a></td>
  </tr>
</table>

<h4 class="area-zh">香山區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>大福小幸動物醫院</td>
    <td>新竹市香山區經國路三段92巷6號</td>
    <td>
      <a
        href="https://www.facebook.com/HappinesssAnimalHospital/"
        target="_blank"
        >https://www.facebook.com/HappinesssAnimalHospital/</a
      >
    </td>
    <td>
      須先以電話聯絡
      <strong>服務對象：犬貓、鼠兔、蜜袋鼯、鳥、爬蟲等</strong>
    </td>
    <td><a href="tel:035300175">03-530-0175</a></td>
  </tr>
</table>

<h3 class="city-zh" id="Hsinchu＿county">新竹縣</h3>

<h4 class="area-zh">竹北市</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>沐暮星動物醫院</td>
    <td>新竹縣竹北市縣政二路南段75號</td>
    <td>
      <a
        href="https://www.facebook.com/profile.php?id=100082868185418"
        target="_blank"
        >https://www.facebook.com/profile.php?id=100082868185418</a
      >
    </td>
    <td></td>
    <td><a href="tel:035587540">03-558-7540</a></td>
  </tr>
</table>

<h3 class="city-zh" id="Taichung">台中市</h3>

<h4 class="area-zh">西區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>全國動物醫院（台中總院）</td>
    <td>台中市西區五權八街100號</td>
    <td>
      <a href="https://www.vet.com.tw" target="_blank"
        >https://www.vet.com.tw</a
      >
    </td>
    <td></td>
    <td><a href="tel:0423710496">04-2371-0496</a></td>
  </tr>

  <tr>
    <td>羅大宇動物醫院</td>
    <td>台中市西區存中街153號號</td>
    <td>
      <a href="https://zh-tw.facebook.com/LOanimalhospital/" target="_blank"
        >https://zh-tw.facebook.com/LOanimalhospital/</a
      >
    </td>
    <td>服務時間： 9:30PM 到 11PM</td>
    <td><a href="tel:0423728378">04-2372-8378</a></td>
  </tr>
</table>

<h4 class="area-zh">南屯區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>格林威治動物醫院</td>
    <td>台中市南屯區文心路一段486號</td>
    <td>
      <a href="https://www.facebook.com/gleamways" target="_blank"
        >https://www.facebook.com/gleamways</a
      >
    </td>
    <td></td>
    <td><a href="tel:0423202279">04-2320-2279</a></td>
  </tr>
</table>

<h4 class="area-zh">北屯區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>康德動物醫院</td>
    <td>台中市北屯區崇德路二段270號</td>
    <td>
      <a href="https://www.facebook.com/kantvet/" target="_blank"
        >https://www.facebook.com/kantvet/</a
      >
    </td>
    <td>
      24小時急診 & 須先以電話聯絡
      <strong> 服務對象：犬、貓、鼠、兔</strong>
    </td>
    <td><a href="tel:073452541">04-2241-2700</a></td>
  </tr>
</table>

<h4 class="area-zh">北區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>沐恩動物醫院</td>
    <td>台中市北區健行路865號</td>
    <td>
      <a href="https://www.facebook.com/MuEnAHinTaichung" target="_blank"
        >https://www.facebook.com/MuEnAHinTaichun</a
      >
    </td>
    <td>須先以電話聯絡 & 週日休息</td>
    <td><a href="tel:0422077271">04-2207-7271</a></td>
  </tr>
</table>

<h4 class="area-zh">大里區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>慈愛動物醫院-台中總院</td>
    <td>台中市大里區國光路二段539號</td>
    <td>
      <a href="https://www.facebook.com/Lkah009" target="_blank"
        >https://www.facebook.com/Lkah009</a
      >
    </td>
    <td></td>
    <td><a href="tel:0424066688">04-2406-6688</a></td>
  </tr>
</table>

<h3 class="city-zh" id="Changhua">彰化縣</h3>

<h4 class="area-zh">員林市</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>
  <tr>
    <td>忠愛動物醫院</td>
    <td>彰化縣員林市中山路二段490號</td>
    <td>
      <a
        href="https://www.chungai.com.tw/main/View_Service.aspx"
        target="_blank"
        >https://www.chungai.com.tw/main/View_Service.aspx</a
      >
    </td>
    <td>須先以電話聯絡</td>
    <td><a href="tel:048335520">04-833-5520</a></td>
  </tr>
</table>

<h3 class="city-zh" id="Yunlin">雲林縣</h3>

<h4 class="area-zh">虎尾鎮</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>
  <tr>
    <td>和牧動物醫院</td>
    <td>雲林縣虎尾鎮光復路454號</td>
    <td>
      <a
        href="https://www.facebook.com/people/和牧動物醫院/100063877410190/"
        target="_blank"
        >https://www.facebook.com/people/和牧動物醫院/100063877410190/</a
      >
    </td>
    <td>須先以電話聯絡 & 週日休息</td>
    <td><a href="tel:056330811">05-633-0811</a></td>
  </tr>
</table>

<h3 class="city-zh" id="Tainan">台南市</h3>

<h4 class="area-zh">東區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>全國動物醫院（台南分院）</td>
    <td>台南市東區崇德路620號2樓</td>
    <td>
      <a href="https://www.vet.com.tw" target="_blank"
        >https://www.vet.com.tw</a
      >
    </td>
    <td></td>
    <td><a href="tel:062673191">06-267-3191</a></td>
  </tr>
</table>

<h4 class="area">中西區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>諾亞動物醫院</td>
    <td>台南市中西區成功路297號</td>
    <td>
      <a href="http://www.ky-animal.com.tw/" target="_blank"
        >http://www.ky-animal.com.tw/</a
      >
    </td>
    <td>須先以電話聯絡 & 週日休息</td>
    <td><a href="tel:062217291">06-221-7291</a></td>
  </tr>
</table>

<h4 class="area-zh">南區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>慈愛動物醫院（台南總院）</td>
    <td>台南市南區西門路一段473號</td>
    <td>
      <a href="https://www.lkah.com.tw" target="_blank"
        >https://www.lkah.com.tw</a
      >
    </td>
    <td></td>
    <td><a href="tel:062203166">06-220-3166</a></td>
  </tr>
</table>

<h3 class="city-zh" id="Kaohsiung">高雄市</h3>

<h4 class="area-zh">仁武區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>聯盟動物醫院（仁武總院）</td>
    <td>高雄市仁武區鳳仁路231號E棟</td>
    <td>
      <a href="https://www.pet100pa.com/vet" target="_blank"
        >https://www.pet100pa.com/vet</a
      >
    </td>
    <td>
      9PM 到 2AM 提供急診服務 &
      <strong>服務對象：犬貓、鼠兔、刺蝟、蜜袋鼯、鳥、鸚鵡、爬蟲等</strong>
    </td>
    <td><a href="tel:073740964">07-374-0964</a> #20</td>
  </tr>
</table>

<h4 class="area-zh">三民區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>宏力動物醫院</td>
    <td>高雄市三民區明誠一路326號</td>
    <td>
      <a href="https://www.hunglivet.com/" target="_blank"
        >https://www.hunglivet.com/</a
      >
    </td>
    <td></td>
    <td><a href="tel:073102819">07-310-2819</a></td>
  </tr>
</table>

<h4 class="area-zh">左營區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>中興梅西動物醫療中心</td>
    <td>高雄市左營區文府路498號</td>
    <td>
      <a href="http://www.jsah.com.tw/" target="_blank"
        >http://www.jsah.com.tw/</a
      >
    </td>
    <td>
      <strong>9PM 到 2AM 提供急診服務</strong>
    </td>
    <td><a href="tel:073502020">07-350-2020</a>#431</td>
  </tr>
</table>

<h4 class="area-zh">苓雅區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>烏鐸動物醫院</td>
    <td>高雄市苓雅區中正一路139號</td>
    <td>
      <a href="https://udochah.wixsite.com/udoch" target="_blank"
        >https://udochah.wixsite.com/udoch</a
      >
    </td>
    <td>夜間急診請按“急診鈴”</td>
    <td><a href="tel: 077220804">07-722-0804</a></td>
  </tr>

  <tr>
    <td>冠安動物醫院</td>
    <td>高雄市苓雅區中正二路131-1號</td>
    <td></td>
    <td>9:30PM後，週日5:30PM後，須先以電話聯絡</td>
    <td><a href="tel:  072236451">07-223-6451</a></td>
  </tr>
</table>

<h4 class="area-zh">鳳山區</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>

  <tr>
    <td>希望動物醫院</td>
    <td>高雄市鳳山區凱旋路100號</td>
    <td>
      <a href="https://zh-tw.facebook.com/HopeVMHospital/" target="_blank"
        >https://zh-tw.facebook.com/HopeVMHospital/</a
      >
    </td>
    <td>須先以電話聯絡</td>
    <td><a href="tel: 077537300">07-753-7300</a></td>
  </tr>
</table>

<h3 class="city-zh" id="Pingtung">屏東縣</h3>

<h4 class="area-zh">屏東市</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>
  <tr>
    <td>名仁動物醫院</td>
    <td>屏東縣屏東市仁愛路7號</td>
    <td>
      <a
        href="https://www.facebook.com/profile.php?id=100064113933440"
        target="_blank"
        >https://www.facebook.com/profile.php?id=100064113933440</a
      >
    </td>
    <td>須先以電話聯絡</td>
    <td><a href="tel:087512022">08-751-2022</a></td>
  </tr>
</table>

<h3 class="city-zh" id="Hualien">花蓮縣</h3>

<h4 class="area-zh">花蓮市</h4>
<table>
  <tr>
    <th>醫院名稱</th>
    <th>地址</th>
    <th>醫院網址</th>
    <th>備註</th>
    <th>電話</th>
  </tr>
  <tr>
    <td>上海動物醫院</td>
    <td>花蓮縣花蓮市上海街63號</td>
    <td></td>
    <td>須先以電話聯絡</td>
    <td><a href="tel:038341853">03-834-1853</a></td>
  </tr>
</table>

<script>
  // Get the button:
  let mybutton = document.getElementById("myBtn");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>

{% endblock content %}
