{% extends "layout.html" %} {% block title %}Clinic Details{% endblock title %}
{% block content %} 
{% block style %}
<style>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
</style>
{% endblock style %}

<!--TODO: add videos about pet emergency-->

<!--TODO: add copyright and contact info DONE-->

<div class="vet-clinic-list">
  <div class="nav-item"><a href="/route-en" class="back"><</a></div>
  <h2 class="nav-item title">
    Emergency Veterinary Services in Taiwan(Last updated 2023.02)
  </h2>
</div>

<!--Reference: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp-->
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<!--TODO: add table of Contents-->
<!--Reference: https://www.tipsandtricks-hq.com/simple-table-of-contents-toc-using-pure-html-and-css-code-9217-->
<div id="toc_container">
  <p class="toc_title">Contents</p>
  <ol class="toc_list">
    <li>
      <a href="#Taipei" class="toc_item">Taipei City Emergency Vet Clinics</a>
    </li>
    <li>
      <a href="#NewTaipei" class="toc_item"
        >New Taipei City Emergency Vet Clinics</a
      >
    </li>
    <li>
      <a href="#Taoyuan" class="toc_item">Taoyuan City Emergency Vet Clinics</a>
    </li>
    <li>
      <a href="#Hsinchu" class="toc_item">Hsinchu City Emergency Vet Clinics</a>
    </li>
    <li>
      <a href="#Taichung" class="toc_item"
        >Taichung City Emergency Vet Clinics</a
      >
    </li>
    <li>
      <a href="#Changhua" class="toc_item"
        >Changhua County Emergency Vet Clinics</a
      >
    </li>
    <li>
      <a href="#Yuanlin" class="toc_item"
        >Yunlin County Emergency Vet Clinics</a
      >
    </li>
    <li>
      <a href="#Tainan" class="toc_item">Tainan City Emergency Vet Clinics</a>
    </li>
    <li>
      <a href="#Kaohsiung" class="toc_item"
        >Kaohsiung City Emergency Vet Clinics</a
      >
    </li>
    <li>
      <a href="#Pingtung" class="toc_item"
        >Pingtung County Emergency Vet Clinics</a
      >
    </li>
    <li>
      <a href="#Hualien" class="toc_item"
        >Hualien County Emergency Vet Clinics</a
      >
    </li>
  </ol>
</div>

<h3 class="city" id="Taipei">Taipei City</h3>

<h4 class="area">Zhongshan District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Eden Animal Hospital</td>
    <td>1F., No.33, Beian Rd, Lane 554, Zhongshan District, Taipei City</td>
    <td>
      <a href="https://eden-vet.com" target="_blank">https://eden-vet.com</a>
    </td>
    <td>Call ahead after hours</td>
    <td><a href="tel:0285092579">02-8509-2579</a></td>
  </tr>

  <tr>
    <td>Top Veterinary Hospital</td>
    <td>No. 260, Long Jiang Rd, Zhongshan District, Taipei City</td>
    <td>
      <a href="http://topvet.topet.net/info-act.html" target="_blank"
        >http://www.topvet.topet.net</a
      >
    </td>
    <td>Call ahead after hours</td>
    <td>
      <a href="tel:0928242358">09-28242358</a> or
      <a href="tel:0225170902">02-2517-0902</a>
    </td>
  </tr>
</table>

<h4 class="area">Daan District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Duke Veterinary Clinic</td>
    <td>No. 117, Sec. 3, Heping E. Rd., Daan Dist., Taipei City</td>
    <td>
      <a href="https://www.facebook.com/dukevetclinic" target="_blank"
        >https://www.facebook.com/dukevetclinic</a
      >
    </td>
    <td>Call ahead after hours</td>
    <td><a href="tel:0287324789">02-8732-4789</a></td>
  </tr>

  <tr>
    <td>Wang's Veterinary Clinic</td>
    <td>No. 217, Jinhua St, Daan District, Taipei City</td>
    <td>
      <a
        href="https://www.facebook.com/profile.php?id=100044480677446"
        target="_blank"
        >https://www.facebook.com/profile.php?id=100044480677446</a
      >
    </td>
    <td>Call ahead after hours or contact via Facebook page</td>
    <td><a href="tel:0223570217">02-2357-0217</a></td>
  </tr>
</table>

<h4 class="area">Datong District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Loving Kindness Animal Hospital</td>
    <td>No.1, Ningxia Rd, Datong District, Taipei City</td>
    <td>
      <a href="https://www.lkah.com.tw/" target="_blank"
        >https://www.lkah.com.tw/</a
      >
    </td>
    <td></td>
    <td><a href="tel:0225563320">02-2556-3320</a></td>
  </tr>

  <tr>
    <td>Formosa Vet Center</td>
    <td>1F., No. 247, Minsheng W. Rd., Datong Dist., Taipei City</td>
    <td>
      <a href="https://www.formosavetcenter.com" target="_blank"
        >https://www.formosavetcenter.com</a
      >
    </td>
    <td></td>
    <td>
      <a href="tel:0225530371">02-2553-0371</a> or
      <a href="tel:0225530303">02-2553-0303</a>
    </td>
  </tr>
</table>

<h4 class="area">Wanhua District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Prospect Vet Emergency Critical Center</td>
    <td>No.2, Section 2, Zhonghua Rd, Wanhua District, Taipei City</td>
    <td>
      <a href="http://www.prospect-vet.com/info.html" target="_blank"
        >https://www.prospect-vet.com</a
      >
    </td>
    <td></td>
    <td><a href="tel:0223880122">02-2388-0122</a></td>
  </tr>
</table>

<h4 class="area">Neihu District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>National Veterinary Hospital (Taipei Branch)</td>
    <td>No. 13, Lane 30, Section 1, Jiuzong Rd, Neihu District, Taipei City</td>
    <td>
      <a href="https://www.vet.com.tw/en/about.php" target="_blank"
        >https://www.vet.com.tw/en/about.php</a
      >
    </td>
    <td></td>
    <td><a href="tel:0287918706">02-8791-8706</a></td>
  </tr>
</table>

<h4 class="area">Songshan District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Top Veterinary Hospital (Nanjing Branch)</td>
    <td>No. 286, Sec. 5, Nanjing E. Rd., Songshan Dist., Taipei City</td>
    <td>
      <a href="http://topvet.topet.net/" target="_blank"
        >http://topvet.topet.net/</a
      >
    </td>
    <td>Call ahead after hours</td>
    <td><a href="tel:0227562005">02-2756-2005</a></td>
  </tr>

  <tr>
    <td>Xintai Animal Hospital</td>
    <td>1F., No. 57, Yanji St., Songshan Dist., Taipei City</td>
    <td>
      <a href="http://www.stah.com.tw" target="_blank"
        >http://www.stah.com.tw</a
      >
    </td>
    <td></td>
    <td><a href="tel:0225795722">02-2579-5722</a></td>
  </tr>
</table>

<h4 class="area">Wenshan District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Dacyun Veterinarian 24hr Animal Emergency Hospital</td>
    <td>No. 206, Section 6, Roosevelt Rd, Wenshan District, Taipei City</td>
    <td>
      <a href="https://dacyun-vet.tw" target="_blank">https://dacyun-vet.tw</a>
    </td>
    <td></td>
    <td><a href="tel:0229305557">02-2930-5557</a></td>
  </tr>
</table>

<h4 class="area">Shilin District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Boulder Yard Animal Hospital</td>
    <td>No. 102, Section 1, Zhongcheng Rd, Shilin District, Taipei City</td>
    <td>
      <a href="http://www.boulderyard24.com" target="_blank"
        >http://www.boulderyard24.com</a
      >
    </td>
    <td>
      <strong>Service for dogs, cats, rodents, and rabbits</strong>
    </td>
    <td><a href="tel:0228341119">02-2834-1119</a></td>
  </tr>

  <tr>
    <td>Anew Animal Hospital</td>
    <td>1F., No. 238, Jihe Rd., Shilin Dist., Taipei City</td>
    <td>
      <a href="https://anewanimalhospital.webnode.tw" target="_blank"
        >https://anewanimalhospital.webnode.tw</a
      >
    </td>
    <td>Call ahead after hours</td>
    <td><a href="tel:0228810478">02-2881-0478</a></td>
  </tr>
</table>

<h4 class="area">Zhongzheng District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Daan Animal Hospital</td>
    <td>1F., No. 162, Sec. 4, Roosevelt Rd., Zhongzheng Dist., Taipei City</td>
    <td>
      <a href="https://daan-vet.com" target="_blank">https://daan-vet.com</a>
    </td>
    <td></td>
    <td><a href="tel:0223632020">02-2363-2020</a></td>
  </tr>
</table>

<h3 class="city" id="NewTaipei">New Taipei City</h3>

<h4 class="area">Banqiao District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Mutsun Animal Hospital</td>
    <td>No. 28, Section 2, Zhongshan Rd, Banqiao District, New Taipei City</td>
    <td>
      <a href="https://www.facebook.com/mtpet/" target="_blank"
        >https://www.facebook.com/mtpet/</a
      >
    </td>
    <td>Call ahead after hours</td>
    <td>
      <a href="tel:0289511172">02-8951-1172</a>
    </td>
  </tr>
</table>

<h4 class="area">Zhonghe District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Chung Ri Animal Hospital</td>
    <td>No. 2, Section 3, Zhongshan Rd, Zhonghe District, New Taipei City</td>
    <td>
      <a href="http://www.unitevet.com" target="_blank"
        >http://www.unitevet.com</a
      >
    </td>
    <td></td>
    <td><a href="tel:0222263639">02-2226-3639</a></td>
  </tr>

  <tr>
    <td>YaDong Animal Hospital</td>
    <td>2F., No. 639, Zhongshan Rd, Zhonghe District, New Taipei City</td>
    <td>
      <a href="https://vet639.url.tw/" target="_blank"
        >https://vet639.url.tw/</a
      >
    </td>
    <td>
      Call ahead after hours
      <strong>Service for dogs, cats, rabbits, rodents, birds, turtles</strong>
    </td>
    <td><a href="tel:0952605051">0952-605-051</a></td>
  </tr>
</table>

<h4 class="area">Yonghe District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Le Huo Animal Hospital</td>
    <td>No. 21, Lane 66, Zhulin Rd, Yonghe District, New Taipei City</td>
    <td>
      <a
        href="https://www.facebook.com/people/樂活動物醫院/100064025791340/"
        target="_blank"
        >https://www.facebook.com/people/樂活動物醫院/100064025791340/</a
      >
    </td>
    <td>Call ahead after hours</td>
    <td><a href="tel:0229225805">02-2922-5805</a></td>
  </tr>
</table>

<h3 class="city" id="Taoyuan">Taoyuan City</h3>

<h4 class="area">Taoyuan District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Elite Animal Hospital</td>
    <td>No. 495-9, Minsheng Rd, Taoyuan District, Taoyuan City</td>
    <td>
      <a href="https://www.ghanimalcasa.com" target="_blank"
        >https://www.ghanimalcasa.com</a
      >
    </td>
    <td>Call ahead after hours</td>
    <td><a href="tel:033363252">03-336-3252</a></td>
  </tr>

  <tr>
    <td>Genki Veterinary Hospital (Sanmin Branch)</td>
    <td>No. 381, Section 3, Sanmin Rd, Taoyuan District, Taoyuan City</td>
    <td>
      <a href="http://www.genkivet.com.tw" target="_blank"
        >http://www.genkivet.com.tw</a
      >
    </td>
    <td></td>
    <td><a href="tel:033333816"> 03-333-3816</a></td>
  </tr>

  <tr>
    <td>Genki Veterinary Hospital (Yiwen Branch)</td>
    <td>No. 156, Section 1, Zhuangjing Rd, Taoyuan District, Taoyuan City</td>
    <td>
      <a href="http://www.genkivet.com.tw" target="_blank"
        >http://www.genkivet.com.tw</a
      >
    </td>
    <td>Service for dogs, cats, rodents, and rabbits</td>
    <td><a href="tel:033553911"> 03-355-3911</a></td>
  </tr>
</table>

<h4 class="area">Zhongli District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Bisous Animal Hospital</td>
    <td>No. 20, Yanping Rd., Zhongli Dist., Taoyuan City</td>
    <td>
      <a href="https://facebook.com/BisousAH" target="_blank"
        >https://facebook.com/BisousAH</a
      >
    </td>
    <td></td>
    <td><a href="tel:034535740">03-453-5740</a></td>
  </tr>
</table>

<h3 class="city" id="Hsinchu">Hsinchu City</h3>

<h4 class="area">East District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Zhu Xin Animal Hospital</td>
    <td>No. 654, Section 1, Jingguo Rd, East District, Hsinchu City</td>
    <td>
      <a href="http://www.zhuxin.com.tw/" target="_blank"
        >http://www.zhuxin.com.tw/</a
      >
    </td>
    <td>Service from 9PM to 2AM</td>
    <td><a href="tel:035338055">03-533-8055</a></td>
  </tr>
</table>

<h4 class="area">Xiangshan District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Happinesss Animal Hospital</td>
    <td>
      No. 6, Lane 92, Section 3, Jingguo Rd, Xiangshan District, Hsinchu City,
      300
    </td>
    <td>
      <a
        href="https://www.facebook.com/HappinesssAnimalHospital/"
        target="_blank"
        >https://www.facebook.com/HappinesssAnimalHospital/</a
      >
    </td>
    <td>
      Call ahead after hours
      <strong
        >Service for dogs, cats, rodents, sugar gliders, birds, and
        reptiles</strong
      >
    </td>
    <td><a href="tel:035300175">03-530-0175</a></td>
  </tr>
</table>

<h3 class="city" id="Taichung">Taichung City</h3>

<h4 class="area">West District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>National Veterinary Hospital (Taichung Main Branch)</td>
    <td>No. 100, Wuquan 8th St., West Dist., Taichung City</td>
    <td>
      <a href="https://www.vet.com.tw/en/about.php" target="_blank"
        >https://www.vet.com.tw/en/about.php</a
      >
    </td>
    <td></td>
    <td><a href="tel:0423710496">04-2371-0496</a></td>
  </tr>

  <tr>
    <td>Lodayu Animal Hospital</td>
    <td>No. 153, Cunzhong St, West Dist., Taichung City</td>
    <td>
      <a href="https://facebook.com/LOanimalhospital/" target="_blank"
        >https://www.facebook.com/HappinesssAnimalHospital/</a
      >
    </td>
    <td>Service from 9:30PM to 11PM</td>
    <td><a href="tel:0423728378">04-2372-8378</a></td>
  </tr>
</table>

<h4 class="area">Nantun District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Gleam ways Animal Hospital</td>
    <td>No. 486, Sec. 1, Wenxin Rd., Nantun Dist., Taichung City</td>
    <td>
      <a href="https://www.facebook.com/gleamways" target="_blank"
        >https://www.facebook.com/gleamways</a
      >
    </td>
    <td></td>
    <td><a href="tel:0423202279">04-2320-2279</a></td>
  </tr>
</table>

<h4 class="area">Beitun District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Kant Animal Hospital</td>
    <td>No. 270, Section 2, Chongde Rd, Beitun District, Taichung City</td>
    <td>
      <a href="https://www.facebook.com/kantvet/" target="_blank"
        >https://www.facebook.com/kantvet/</a
      >
    </td>
    <td>
      Call ahead after hours &
      <strong>Service for dogs, cats, rodents, and rabbits</strong>
    </td>
    <td><a href="tel:073452541">04-2241-2700</a></td>
  </tr>
</table>

<h4 class="area">North District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Muen Animal Hospital</td>
    <td>No. 865, Jianxing Rd, North District, Taichung City, 404</td>
    <td>
      <a href="https://www.facebook.com/MuEnAHinTaichung" target="_blank"
        >https://www.facebook.com/MuEnAHinTaichung</a
      >
    </td>
    <td>Call ahead after hours</td>
    <td><a href="tel:0422077271">04-2207-7271</a></td>
  </tr>
</table>

<h4 class="area">Dali District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Loving Kindness Animal Hospital (Taichung Main branch)</td>
    <td>No. 539, Sec. 2, Guoguang Rd., Dali Dist., Taichung City</td>
    <td>
      <a href="https://www.facebook.com/Lkah009" target="_blank"
        >https://www.facebook.com/Lkah009</a
      >
    </td>
    <td></td>
    <td><a href="tel:0424066688">04-2406-6688</a></td>
  </tr>
</table>

<h3 class="city" id="Changhua">Changhua County</h3>

<h4 class="area">Yuanlin City</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>
  <tr>
    <td>Chung Ai Veterinary Hospital</td>
    <td>No. 490, Section 2, Zhongshan Rd, Yuanlin City, Changhua County</td>
    <td>
      <a
        href="https://www.chungai.com.tw/main/View_Service.aspx"
        target="_blank"
        >https://www.chungai.com.tw/main/View_Service.aspx</a
      >
    </td>
    <td>Call ahead after hours</td>
    <td><a href="tel:048335520">04-833-5520</a></td>
  </tr>
</table>

<h3 class="city" id="Yunlin">Yunlin County</h3>

<h4 class="area">Huwei Township</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>
  <tr>
    <td>Ho Mu Animal Hospital</td>
    <td>No. 454, Guangfu Rd, Huwei Township, Yunlin County</td>
    <td>
      <a
        href="https://www.facebook.com/people/和牧動物醫院/100063877410190/"
        target="_blank"
        >https://www.facebook.com/people/和牧動物醫院/100063877410190/</a
      >
    </td>
    <td>Call ahead after hours</td>
    <td><a href="tel:056330811">05-633-0811</a></td>
  </tr>
</table>

<h3 class="city" id="Tainan">Tainan City</h3>

<h4 class="area">East District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>National Veterinary Hospital (Tainan Branch)</td>
    <td>2F., No. 620, Chongde Rd., East Dist., Tainan City</td>
    <td>
      <a href="https://www.vet.com.tw/en/about.php" target="_blank"
        >https://www.vet.com.tw/en/about.php</a
      >
    </td>
    <td></td>
    <td><a href="tel:062673191">06-267-3191</a></td>
  </tr>
</table>

<h4 class="area">West Central District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Noah Animal Hospital</td>
    <td>No. 297, Chenggong Rd, West Central District, Tainan City</td>
    <td>
      <a href="https://www.ky-animal.com.tw/" target="_blank"
        >https://www.ky-animal.com.tw/</a
      >
    </td>
    <td>Call ahead after hours</td>
    <td><a href="tel:062217291">06-221-7291</a></td>
  </tr>
</table>

<h4 class="area">South District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Loving Kindness Animal Hospital (Tainan Branch)</td>
    <td>No. 437, Sec. 1, Ximen Rd., South Dist., Tainan City</td>
    <td>
      <a href="https://www.lkah.com.tw" target="_blank"
        >https://www.lkah.com.tw</a
      >
    </td>
    <td></td>
    <td><a href="tel:062203166">06-220-3166</a></td>
  </tr>
</table>

<h3 class="city" id="Kaohsiung">Kaohsiung City</h3>

<h4 class="area">Renwu District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Alliance Veterinary Hospital (Renwu Main Branch)</td>
    <td>No. 231, Fengren Rd., Renwu Dist., Kaohsiung City</td>
    <td>
      <a href="https://www.pet100pa.com/vet" target="_blank"
        >https://www.pet100pa.com/vet</a
      >
    </td>
    <td>
      Emergency service from 9PM to 2AM &
      <strong
        >Provide service for dogs, cats, rodents, rabbits, hedgehogs, sugar
        gliders, birds, parrots and reptiles</strong
      >
    </td>
    <td><a href="tel:073740964">07-374-0964</a> #20</td>
  </tr>
</table>

<h4 class="area">Sanmin District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Hung Li Animal Hospital</td>
    <td>No. 326, Mingcheng 1st Rd, Sanmin District, Kaohsiung City</td>
    <td>
      <a href="https://www.hunglivet.com/" target="_blank"
        >https://www.hunglivet.com/</a
      >
    </td>
    <td></td>
    <td><a href="tel:073102819">07-310-2819</a></td>
  </tr>
</table>

<h4 class="area">Zuoying District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Jong-Shing Animal Hospital</td>
    <td>No. 498, Wenfu Rd, Zuoying District, Kaohsiung City</td>
    <td>
      <a href="http://www.jsah.com.tw/" target="_blank"
        >http://www.jsah.com.tw/</a
      >
    </td>
    <td>
      <strong>Provide emergency service from 9:30PM to 2AM</strong>
    </td>
    <td><a href="tel:073502020">07-350-2020</a>#431</td>
  </tr>
</table>

<h4 class="area">Lingya District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Udoch Animal Hospital</td>
    <td>No. 139, Zhongzheng 1st Rd, Lingya District, Kaohsiung City</td>
    <td>
      <a href="https://udochah.wixsite.com/udoch" target="_blank"
        >https://udochah.wixsite.com/udoch</a
      >
    </td>
    <td>Press the emergency bell at the door if service needed</td>
    <td><a href="tel: 077220804">07-722-0804</a></td>
  </tr>

  <tr>
    <td>GuanAn Animal Hospital</td>
    <td>No. 131-1, Zhongzheng 2nd Rd, Lingya District, Kaohsiung City</td>
    <td></td>
    <td>Call ahead after hours</td>
    <td><a href="tel:  072236451">07-223-6451</a></td>
  </tr>
</table>

<h4 class="area">Fengshan District</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>

  <tr>
    <td>Hope Veterinary Hospital</td>
    <td>No. 100, Kaixuan Rd, Fengshan District, Kaohsiung City</td>
    <td>
      <a href="https://facebook.com/HopeVMHospital/" target="_blank"
        >https://facebook.com/HopeVMHospital/</a
      >
    </td>
    <td>Call ahead after hours</td>
    <td><a href="tel: 077537300">07-753-7300</a></td>
  </tr>
</table>

<h3 class="city" id="Pingtung">Pingtung County</h3>

<h4 class="area">Pingtung City</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>
  <tr>
    <td>MingRen Veterinary Hospital</td>
    <td>No. 7, Ren'ai Rd, Pingtung City, Pingtung County</td>
    <td>
      <a
        href="https://www.facebook.com/profile.php?id=100064113933440"
        target="_blank"
        >https://www.facebook.com/profile.php?id=100064113933440</a
      >
    </td>
    <td>Call ahead after hours</td>
    <td><a href="tel:087512022">08-751-2022</a></td>
  </tr>
</table>

<h3 class="city" id="Hualien">Hualien County</h3>

<h4 class="area">Hualien City</h4>
<table>
  <tr>
    <th>Clinic name</th>
    <th>Address</th>
    <th>Website</th>
    <th>Note</th>
    <th>Phone number</th>
  </tr>
  <tr>
    <td>Shanghai Animal Hospital</td>
    <td>No. 63, Shanghai St, Hualien City, Hualien County</td>
    <td></td>
    <td>Call ahead after hours</td>
    <td><a href="tel:038341853">03-834-1853</a></td>
  </tr>
</table>

<script>
  // Get the button:
  let mybutton = document.getElementById("myBtn");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>

{% endblock content %}
