<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="pics/sos_icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="pics/sos_icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="pics/sos_icon/favicon-16x16.png"
    />
    <link rel="manifest" href="pics/sos_icon/site.webmanifest" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/index.css" rel="stylesheet" />
    {% block link %}{% endblock link %} {% block style %} {% endblock style %}
  </head>

  <body>
    <div class="info-container">{% block content %} {% endblock content %}</div>
    {% block script %} {% endblock script %}
  </body>

  <footer><p>Made by Hui Ru Hu. Feb 2023.</p></footer>
</html>
