{% extends 'layout.html' %}
{% block title %}{{ t.route_title }}{% endblock title %}

{% block content %}
<div class="navbar">
  <div class="nav-item"><a href="/" class="back">&#x3c;</a></div>
  <h2 class="nav-item title">{{ t.route_title }}</h2>
  <div class="nav-item">
    <a href="/details/{{ lang }}" class="info">{{ t.more_info }}</a>
  </div>
</div>

<div id="filter-bar"></div>
<div id="map" data-lang="{{ lang }}"></div>
{% endblock content %}

{% block script %}
<script src="/static/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&callback=initMap&loading=async" async defer></script>
{% endblock script %}
