{% extends "layout.html" %} {% block title %}Route planning{% endblock title %}
{% block content %}
<style>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
</style>

<div class="navbar">
  <div class="nav-item"><a href="/" class="back">&#x3c;</a></div>
  <h2 class="nav-item title">Route planning</h2>
  <div class="nav-item">
    <a href="/detail-en" class="info">More info about vet clinics</a>
  </div>
</div>

<!--insert google map-->
<div id="map"></div>

{% endblock content %} {% block script %}
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGIhVa1IgIS69H7oOjC5l4nog_ZY5L1_c&callback=initMap&v=weekly"
  defer
></script>

{% endblock script %}
