{% extends "layout.html" %} {% block title %}路線規劃{% endblock title %} {%
block content %}

<style>
  @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap");
</style>

<div class="navbar">
  <div class="nav-item"><a href="/" class="back">&#x3c;</a></div>
  <h3 class="nav-item title">路線規劃</h3>
  <div class="nav-item">
    <a href="/detail-zh" class="info">獸醫院的詳細資訊</a>
  </div>
</div>

<!--insert google map-->
<div id="map"></div>

{% endblock content %} {% block script %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGIhVa1IgIS69H7oOjC5l4nog_ZY5L1_c&callback=initMap"></script>
<script>
  // Error initMap is not a function -> need to create the function initMap
  let map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: 24.1908835, lng: 120.5882498 },
    zoom: 10,
  });

  const myLocation = new google.maps.Marker({
    position: { lat: 24.1908835, lng: 120.5882498 },
    label: "我",
  });

  myLocation.setMap(map);
</script>
{% endblock script %}
